.banner{
  background-image: url("/assets/images/fluffy-toy-texture-close-up.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  background-position: bottom;
  position:relative;
}
